{
  "extends": [
    "eslint-config-poetez",
    "plugin:prettier/recommended"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "sort-keys": "off",
    "global-require": "off",
    "spaced-comment": "off",
    "capitalized-comments": "off",
    "padding-line-between-statements": "off"
  }
}