# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Editor directories and files
.idea
.vs/
.vscode/
.cache

# dependencies
node_modules

# testing
coverage

# production
lib
dist
build

# Log files
logs
*.log

# misc
.DS_Store
storybook-static
package-lock.json
chromatic-diagnostics.json